<html>
<head>

</head>
<!-- <body ng-app="codekul" ng-strict-di> -->
<body ng-app="codekul" >

  <div ng-controller="MyController as myController">
      <input type="input" ng-model="myController.myName"/>
      <input type="input" ng-model="myController.myTopic"/>
      <input type="button"ng-click="myController.myClick()"/>
      <lable>{{myController.intrest}}</label>

        <div>
            Fb <input type="button" ng-click="myController.faceBook()"/>
            G+ <input type="button" ng-click="myController.gPlus()"/>
            <label>{{myController.res}}</label>
            Json Response <input type="button" ng-click="myController.call()">
        </div>
  </div>

  <div ng-controller="OtherController as other" ng-init="qty=0;cost=1;cost=qty*cost;">
    <input type="number" ng-model="other.qty"/>
    <input type="number" ng-model="other.cost"/>

    <label> {{qty * cost | date}}</label>
  </div>

  <div ng-controller="ScopeController">
    Hi this is Scope {{hello}}
    <input type="button" ng-click="double(23)"/>
    <br/>{{doubleVal}}
  </div>

  <div ng-controller="ParentController">
      Parent State - {{parentState}}
    <div ng-controller="ChildController">
        Parent State - {{parentState}}
        <p>Child State - {{childState}}
    </div>
  </div>

  <div ng-controller="SimpleController">
      <input type="button" ng-click="show('hi')"/>
      {{ps}}
  </div>

  <div ng-controller="WatchController">
    <input type="button" ng-click="callForWatch()" value="Watch"/>
  </div>

  <div ng-controller="ApplyController">
    <input id="myBtn" type="button" click="callApply()"value="apply"/>
    <label>{{myApply}}</label>
  </div>

  <div ng-controller="StrcitDIController">
      {{a.b.c}}
  </div>

<div ng-controller="ExpressionController">
  <input type="button" ng-click="myFun($event)" value="$event"/>
  {{::ev | date : 'dd-MMM-yyyy HH:mm:ss a'}}
</div>

<div ng-controller="InterpolationController">
  <input type="checkbox" ng-model="isWorking"/>

  <button ng-disabled="isWorking" >Okay </button>
</div>

<div ng-controller="FilterController as ctrl">
  Enter City - <input type="text" ng-model="criteria"/>
  <br/> Order - <input type="checkbox" ng-model="ordered"/>
  <br/> Length  - <input type="input" ng-model="length"/>
  <br/> Greter or Lesser  - <input type="checkbox" ng-model="ge"/>{{ge}}

  <ul ng-repeat="city in ctrl.cities | filter:criteria |orderBy : ordered : ordered|filterLength:length:ge">
    <li>{{city}}</li>
  </ul>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

<script src="factory.js"> </script>
 <script src="app.js"> </script>
 <script >

 </script>
</body>
</html>
